@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size:46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight:700;
    font-size:12px;
}

a{
    color: #222;
    text-decoration: none;
}

p{
    font-size: 16px;
    color: rgb(202, 201, 201);
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    margin: 40px 80px;
}

body{
    width: 100%;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

/*Header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #4bce00;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #4bce00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/*Home page*/
#page-hero{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/4bf3fb92385599.5e4a823b79cd8.jpg");
  background-position-y:  -400px;
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 14px;
}

#page-hero h4{
  margin-left: 15rem;
  font-size: 30px;
  color: #fff;
}

#page-hero h2{
  margin-left: 15rem;
  font-size: 60px;
  text-shadow: 2px 2px  #236e55;
  color: #49d4a6;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
  margin-bottom: 20px;
}

footer .icon{
  font-size: 25px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  margin-bottom: 20px;
  font-size: 14px;
}

footer p{
  margin: 0 0 8px 0;
  font-size: 13px;
  color: #6e6e6e;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 16px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  padding-right: 4px;
  color: #465b52;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
  color: #22ad71;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .install img{
  margin: 10px 5px 15px 5px;
}

footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#product1 h2{
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
#product1 .main {
  background: #477cb0;
  display: grid;
  height: 100vh;
  padding: 16px;
  place-items: center;
  width: 100%;
}

#product1 .container {
  max-width: 1399px;
  margin: auto;
}

#product1 .grid_cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
  margin-top: 4rem;
}

#product1 .card_ui {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  transition: .3s ease;
}

#product1 .card_ui:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
  transform: translateY(-10px);
}

#product1 .car_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#product1 .car_header_status {
  display: flex;
  gap: 10px;
}

#product1 .status_rating {
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 5px;
}

#product1 .status_rating_star {
  color: #ffba1e;
}

#product1 .status_rating_number_comments {
  color: #7f8388;
}

#product1 .status_disponibility {
  border-radius: 10px;
  padding: 5px 12px;
}

#product1 .status_available {
  background: rgb(15 167 35 / 10%);
}

#product1 .status_not_available {
  background: rgb(201 11 11 / 10%);
}

#product1 .status_available span {
  color: #0fa723;
}

#product1 .status_not_available span,
#product1 .button_like:hover i,
#product1 .like_icon {
  color: #c90b0b;
}

#product1 .button_like {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
}

#product1 .button_like i {
  font-size: 1.25rem;
}

#product1 .like_icon {
  animation: animateHeart .5s ease;
}

@keyframes animateHeart {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#product1 .car_body_img_container {
  padding: 32px 0px;
}

#product1 .car_img_content_link:hover img {
  filter: drop-shadow(0px 10px 60px rgb(255, 255, 255));
}

#product1 .car_img_content {
  display: flex;
  justify-content: center;
}

#product1 .car_img_content img {
  width: 80%;
  transition: .3s ease;
}

#product1 .car_name {
  color: #7f8388;
}

#product1 .car_model_link:hover .car_model {
  color: #c90b0b;
}

#product1 .car_model {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#product1 .car_price_container,
#product1 .car_list_characteristics li {
  align-items: center;
  display: flex;
  gap: 10px;
}

#product1 .car_price_container {
  flex-wrap: wrap;
  justify-content: space-between;
}

#product1 .car_price {
  white-space: nowrap;
}

#product1 .car_price_time {
  color: #7f8388;
}

#product1 .car_footer {
  border-top: 2px solid rgb(162 166 171 / 20%);
  margin-top: 16px;
  padding-top: 16px;
}

#product1 .car_list_characteristics {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

#product1 .car_list_characteristics li {
  list-style: none;
  overflow: hidden;
}

#product1 .car_price{
  color: #222;
  font-weight: 500;
}

#product1 .car_list_characteristics li span {
  color: #7f8388;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 991px) {
  #product1 .main {
    height: auto;
  }

  #product1 .grid_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  #product1 .grid_cards {
    grid-template-columns: 1fr;
  }
}

#product1 .rentbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #41B06E;
  outline: 3px #41B06E solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

#product1 .rentbtn .text {
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  transition: 400ms;
}

#product1 .rentbtn:hover {
  background-color: transparent;
}

#product1 .rentbtn:hover .text {
  color: #41B06E;
}

#product1 button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#product1 button {
  --primary-color: #111;
  --hovered-color: #3761ea;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

#product1 button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

#product1 .buttonHome:after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#product1 .buttonHome p::before {
  position: absolute;
  content: "Home";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#product1 button:hover::after {
  width: 100%;
}

#product1 button:hover p::before {
  width: 100%;
}

#product1 .buttonRentalCar:after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#product1 .buttonRentalCar p::before {
  position: absolute;
  content: "Stock";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#product1 .buttonContect:after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#product1 .buttonContect p::before {
  position: absolute;
  content: "Contect";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#product1 .buttonDocument:after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#product1 .buttonDocument p::before {
  position: absolute;
  content: "Document";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#product1 .buttonAccount:after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#product1 .buttonAccount p::before {
  position: absolute;
  content: "Account";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#product1 .container {
  position: relative;
  width: 50%;
}

#product1 .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#product1 .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#product1 .container:hover .image {
  opacity: 0.3;
}

#product1 .container:hover .middle {
  opacity: 1;
}

#product1 .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


#pagination h2,
#pagination p{
  color: #fff;
}

#pagination{
  margin-right: 5px;
  margin-bottom: 5rem;
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #26b585;
  /*color: #ffba1e;*/
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  padding: 15px 20px;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

@media (max-width:799px){
  .section-p1{
    margin: 40px 40px;
  }

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #1a1a1a;
    font-size:  24px;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag,
  #lg-acc{
    display: none;
  }

  #hero {
    height: 90vh;
    padding: 0 80px;
    background-position: top 30% right 30% ;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 35vh;
    padding: 30px;
  }
}

@media (max-width:477px){
  .section-p1{
    padding: 20px;
  }

  #header{
    padding: 10px 30px;
  }
  
  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }

  #hero h4,
  #hero p{
    color: #222;
  }

  #hero h2{
    color: #0361a9;
  }

  #feature{
    justify-content: space-between;
  }

  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;  
  }

  #sm-banner .banner-box{
    height: 40vh;
    width: 100%;
  }

  #sm-banner .b2{
    margin-top: 20px;
  }

  footer .copyright{
    text-align: start;
  }
}