@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size:46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight:700;
    font-size:12px;
}

a{
    color: #222;
    text-decoration: none;
}

p{
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    margin: 40px 80px;
}

body{
    width: 100%;
}

.Servicerentalrules
{
    padding: 0rem 3rem;
    margin: 5rem 5rem;
}
.Servicerentalrules h3
{
    margin: 1rem 1rem;
}
.servicerentalrules
{
    margin: 1rem 2.5rem;
}
.Documentsusedforrentingservices 
{
    padding: 1rem 3rem;
    margin: 0rem 5rem;
    margin-bottom: 5rem;
}
.documentsusedforrentingservices h3
{
    margin: 1rem 1rem;
}
.exampledocumentsusedforrentingservices
{
    margin: 0rem 4rem;
}
.Exampledocumentsusedforrentingservices
{
    margin: 1rem 2.5rem;
}
.subdocumentsusedforrentingservices
{
    color: #000000;
}
.notedocumentsusedforrentingservices
{
    color: #ff0000;
}

#mobile{
    display: none;
    align-items: center;
  }

/*Header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #4bce00;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #4bce00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-bottom: 20px;
}

footer .icon a{
    font-size: 25px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    margin-bottom: 20px;
    font-size: 14px;
}

footer p{
    margin: 0 0 8px 0;
    font-size: 13px;
    color: #6e6e6e;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 16px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 4px;
    color: #465b52;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #22ad71;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .install img{
    margin: 10px 5px 15px 5px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.Rule{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1em;
    text-align: center;
}

.pdf {
    width: 50%;
    margin-left: 26em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.pdf,
html,
body {
    height: 100%;
}

.dealimg{
    margin-left: 30em;
    margin-bottom: 1em;
}
.last{
    margin-bottom: 10em;
}

@media (max-width:1640px){
    .section-p1{
        margin: 40px 10px;
    }

    footer{
        display: grid;
    }

    footer .col{
        margin-left: 10%;
    }
    
    #navbar li a{
        font-size: 160%;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 45%;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size:  24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag,
    #lg-acc{
        display: none;
    }

    #hero {
        height: 50vh;
        padding: 0 50px;
        background-position: top 100% left 0% ;
    }

    #header{
        padding: 20px 40px;
    }

    .dealimg{
        margin-left: 5%;
        margin-bottom: 5%;
        height: 100%;
        width: 90%;
    }
    .last{
        margin-bottom: 10%;
    }

    .Rule{
        font-size: 85px;
    }

    footer .icon a{
        font-size: 30px;
    }
    
    footer h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    footer p{
        margin: 0 0 8px 0;
        font-size: 15px;
        color: #6e6e6e;
    }
    
    footer a{
        font-size: 15px;
        text-decoration: none;
        color: #222;
        margin-bottom: 16px;
    }
}

@media (max-width:500px){
    .section-p1{
        margin: 40px 10px;
    }

    footer{
        display: grid;
    }

    footer .col{
        margin-left: 5%;
    }
    
    #navbar li a{
        font-size: 120%;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 45%;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size:  24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag,
    #lg-acc{
        display: none;
    }

    #hero {
        height: 40vh;
        padding: 0 50px;
        background-position: top 100% left 10% ;
    }

    .container {
        margin: 0 1px;
        padding: 2rem;
        width: 40vh;
    }

    #header{
        padding: 20px 20px;
    }

    .dealimg{
        margin-left: 5%;
        margin-bottom: 5%;
        height: 100%;
        width: 90%;
    }
    .last{
        margin-bottom: 20%;
    }

    .Rule{
        font-size: 55px;
    }

    footer h4{
        margin-bottom: 20px;
        font-size: 17px;
    }
    
    footer p{
        margin: 0 0 8px 0;
        font-size: 15px;
        color: #6e6e6e;
    }
    
    footer a{
        font-size: 15px;
        text-decoration: none;
        color: #222;
        margin-bottom: 16px;
    }

    footer .icon a{
        font-size: 30px;
    }
}

@media (max-width:400px){
    .section-p1{
        margin: 20px 10px;
    }

    footer{
        display: grid;
    }

    footer .col{
        margin-left: 5%;
    }
    
    #navbar li a{
        font-size: 120%;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    

    #mobile i{
        color: #1a1a1a;
        font-size:  24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag,
    #lg-acc{
        display: none;
    }

    #hero {
        height: 40vh;
        padding: 0 50px;
        background-position: top 100% left 10% ;
    }

    .container {
        margin: 0 1px;
        padding: 2rem;
        width: 40vh;
    }

    #header{
        padding: 20px 20px;
    }

    .dealimg{
        margin-left: 5%;
        margin-bottom: 5%;
        height: 100%;
        width: 90%;
    }
    .last{
        margin-bottom: 20%;
    }

    .Rule{
        font-size: 40px;
    }

    footer h4{
        margin-bottom: 20px;
        font-size: 17px;
    }
    
    footer p{
        margin: 0 0 8px 0;
        font-size: 15px;
        color: #6e6e6e;
    }
    
    footer a{
        font-size: 15px;
        text-decoration: none;
        color: #222;
        margin-bottom: 16px;
    }

    footer .icon a{
        font-size: 30px;
    }
}

@media (max-width:350px){
    .section-p1{
        margin: 20px 10px;
    }

    footer{
        display: grid;
    }

    footer .col{
        margin-left: 5%;
    }
    
    #navbar li a{
        font-size: 100%;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 55%;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size:  24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag,
    #lg-acc{
        display: none;
    }

    #hero {
        height: 40vh;
        padding: 0 50px;
        background-position: top 100% left 10% ;
    }

    .container {
        margin: 0 1px;
        padding: 2rem;
        width: 40vh;
    }

    #header{
        padding: 20px 20px;
    }

    .dealimg{
        margin-left: 5%;
        margin-bottom: 5%;
        height: 100%;
        width: 90%;
    }
    .last{
        margin-bottom: 20%;
    }
    
    .Rule{
        font-size: 35px;
    }

    footer h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    footer p{
        margin: 0 0 8px 0;
        font-size: 15px;
        color: #6e6e6e;
    }
    
    footer a{
        font-size: 15px;
        text-decoration: none;
        color: #222;
        margin-bottom: 16px;
    }

    footer .icon a{
        font-size: 35px;
    }
}