@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size:46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight:700;
    font-size:12px;
}

a{
    color: #222;
    text-decoration: none;
}

p{
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    margin: 40px 80px;
}

body{
    width: 100%;
}

.Servicerentalrules
{
    padding: 0rem 3rem;
    margin: 5rem 5rem;
}
.Servicerentalrules h3
{
    margin: 1rem 1rem;
}
.servicerentalrules
{
    margin: 1rem 2.5rem;
}
.Documentsusedforrentingservices 
{
    padding: 1rem 3rem;
    margin: 0rem 5rem;
    margin-bottom: 5rem;
}
.documentsusedforrentingservices h3
{
    margin: 1rem 1rem;
}
.exampledocumentsusedforrentingservices
{
    margin: 0rem 4rem;
}
.Exampledocumentsusedforrentingservices
{
    margin: 1rem 2.5rem;
}
.subdocumentsusedforrentingservices
{
    color: #000000;
}
.notedocumentsusedforrentingservices
{
    color: #ff0000;
}

/*Header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #4bce00;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #4bce00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-bottom: 20px;
}

footer .icon{
    font-size: 25px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    margin-bottom: 20px;
    font-size: 14px;
}

footer p{
    margin: 0 0 8px 0;
    font-size: 13px;
    color: #6e6e6e;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 16px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 4px;
    color: #465b52;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #22ad71;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .install img{
    margin: 10px 5px 15px 5px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.pdf,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}