*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/*nav maenu on the left as a unordered list*/
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
/*nav maenu on the right as a unordered list*/
nav{
    flex: 1;
    text-align: right;
}
/*nav maenu on the right as a list but without bullet*/
nav ul{
    display: inline-block;
    list-style-type: none;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each with underline*/
nav ul li{
    display: inline-block;
    margin-right: 50px;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each without underline*/
.menunavbar
{
    margin: 3rem;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
} 

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #7EA1FF;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#D1BB9E, #FFC470);
}
.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;   
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ebe3e2;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-5px);
}

/*-----------------------offer -----------------------*/
.offer{
    background: radial-gradient(#D1BB9E, #FFC470);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color:#555;
}

/*-----------------------Testimonial -----------------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width:50px;
    margin-top: 20px;
    border-radius: 50%;/*square images converted to round shape box*/
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*-----------------------Brands -----------------------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*-----------------------Footer -----------------------*/
.footer{
    background:#5f5f5f37; /*black;*/
    color: #3b3b3b;
    font-size: 14px;
    padding:60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color:#000000;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;   
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;  
    display:none;
}

/*-----------------------media query for menu -----------------------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{ 
        display:block;
        cursor: pointer;
    }
}

/*-----------------------media query for less than 600 screen size(mobile device) -----------------------*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2 .col-3 .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 20px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    

}

/*--------------------all products-----------------------------------------------*/
.row-2{
    justify-content: space-between;
    margin:100px auto 50px;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border:1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}



/*------------------- card car rental ----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    background: #477cb0;
    display: grid;
    height: 100vh;
    padding: 16px;
    place-items: center;
    width: 100%;
}

.container {
    max-width: 1399px;
    margin: auto;
}

.grid_cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.card_ui {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    transition: .3s ease;
}

.card_ui:hover {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    transform: translateY(-10px);
}

.car_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.car_header_status {
    display: flex;
    gap: 10px;
}

.status_rating {
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px;
}

.status_rating_star {
    color: #ffba1e;
}

.status_rating_number_comments {
    color: #7f8388;
}

.status_disponibility {
    border-radius: 10px;
    padding: 5px 12px;
}

.status_available {
    background: rgb(15 167 35 / 10%);
}

.status_not_available {
    background: rgb(201 11 11 / 10%);
}

.status_available span {
    color: #0fa723;
}

.status_not_available span,
.button_like:hover i,
.like_icon {
    color: #c90b0b;
}

.button_like {
    background: none;
    border: none;
    height: 32px;
    width: 32px;
}

.button_like i {
    font-size: 1.25rem;
}

.like_icon {
    animation: animateHeart .5s ease;
}

@keyframes animateHeart {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.car_body_img_container {
    padding: 32px 0px;
}

.car_img_content_link:hover img {
    filter: drop-shadow(0px 10px 60px rgb(255, 255, 255));
}

.car_img_content {
    display: flex;
    justify-content: center;
    /*aspect-ratio: 2.2/1;*/
}

.car_img_content img {
    width: 80%;
    transition: .3s ease;
}

.car_name {
    color: #7f8388;
}

.car_model_link:hover .car_model {
    color: #c90b0b;
}

.car_model {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.car_price_container,
.car_list_characteristics li {
    align-items: center;
    display: flex;
    gap: 10px;
}

.car_price_container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.car_price {
    white-space: nowrap;
}

.car_price_time {
    color: #7f8388;
}

.car_footer {
    border-top: 2px solid rgb(162 166 171 / 20%);
    margin-top: 16px;
    padding-top: 16px;
}

.car_list_characteristics {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.car_list_characteristics li {
    list-style: none;
    overflow: hidden;
}

.car_list_characteristics li span {
    color: #7f8388;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .main {
        height: auto;
    }

    .grid_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid_cards {
        grid-template-columns: 1fr;
    }
}
/*button in card*/
.rentbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #41B06E;
    outline: 3px #41B06E solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.rentbtn .text {
    color: white;
    font-weight: 700;
    font-size: 0.8em;
    transition: 400ms;
}

.rentbtn:hover {
    background-color: transparent;
}

.rentbtn:hover .text {
    color: #41B06E;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  button {
    --primary-color: #111;
    --hovered-color: #3761ea;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
 .buttonHome:after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .buttonHome p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Home";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button:hover::after {
    width: 100%;
  }
  
  button:hover p::before {
    width: 100%;
  }
  .buttonRentalCar:after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .buttonRentalCar p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Stock";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .buttonContect:after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .buttonContect p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Contect";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .buttonDocument:after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .buttonDocument p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Document";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .buttonAccount:after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .buttonAccount p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Account";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }


















































/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: #a3a3a3;
    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* Responsive typography */
@media screen and (min-width: 1024px) 
{
:root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
}
}
/*=============== BASE ===============*/
ul 
{
    list-style: none;
}
.example-2 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-2 .icon-content 
{
    margin: 0 10px;
    position: relative;
}
.example-2 .icon-content .tooltip 
{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip 
{
    opacity: 1;
    visibility: visible;
    top: -50px;
}
.example-2 .icon-content a 
{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover 
{
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg 
{
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.example-2 .icon-content a:hover 
{
    color: white;
}
.example-2 .icon-content a .filled
{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled 
{
    height: 100%;
}
.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip 
{
    background-color: #1877F2;
}
.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip 
{
    background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip 
{
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    width: 100%;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .5s; /* for dark mode animation */
}
h1, h2, h3 
{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
ul 
{
    list-style: none;
}
a 
{
    text-decoration: none;
}
img 
{
    max-width: 100%;
    height: auto;
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme 
{
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(0, 0%, 0%);
}
button 
{
    all: unset;
    cursor: pointer;
}
/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container 
{
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.grid 
{
    display: grid;
    gap: 1.5rem;
}
.section 
{
    padding-block: 2.5rem;
}
.section__border 
{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}
.section__title, 
.section__subtitle 
{
    text-align: center;
}
.section__title 
{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}
.section__subtitle 
{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}
.main 
{
    overflow: hidden; /* For animation */
}
/*=============== HEADER & NAV ===============*/
.header
{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
}
.nav
{
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
}
.nav__logo,
.nav__close,
.nav__toggle
{
    color: var(--title-color);
}

.nav__logo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
.nav__toggle
{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px)
{
.nav__menu
{
    position: fixed;
    width:88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: bottom .3s;
}
}
.nav__list{
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap:2rem 3rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}
.nav__link:hover{
    color: var(--title-color);
}
.nav__link i{
    font-size: 1.25rem;
}
.nav__close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}
/* Show menu */
.show-menu{
    bottom: 2rem;
}
/* Active link */
/*=============== HOME ===============*/
.home__container{
    row-gap: 4rem;
    padding-top: 2rem;
}
.home__data{
    row-gap: 1.5rem;
}
.home__title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}
.home__blob{
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
}
.home__perfil{
    width: 170px;
    height: 260px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.home__shape-waves,
.home__shape-circle{
    position: absolute;
    opacity: .1;
}
.home__shape-waves{
    width: 50px;
    left: -1.5rem;
    top: 5rem;
}
.home__shape-circle{
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
}
.home__social{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}
.home__social-link{
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}
.home__social-link:hover{
    color: var(--title-color);
}
.home__info{
    display: grid;
    row-gap: 2rem;
}
.home__info-title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.home__info-description,
.home__info-number{
    font-family: var(--title-font);
    color: var(--title-color);
}
.home__info-description
{
    padding-right: 4rem;
}
.home__info-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
/*=============== SKILLS ===============*/
.skills__container{
    row-gap: 3.5rem;

}
.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.skills__title i{
    font-size: 1rem;
    font-weight: initial;
}
.skills__info,
.skills__data,
.skills__blob{
    display: grid;
}
.skills__info{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
} 
.skills__data{
    justify-content: center;
    text-align: center;
}
.skills__blob{
    width: 80px;
    height: 100px;
    background-color: var(--container-color);
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.skills__blob img{
    width: 40px;
    margin-left: 1.2rem;
    margin-top: 2rem;
}
.skills__name{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}
.skills__subtitle{
    font-size: var(--tiny-font-size);
    color:var(--text-color-light);
}
/* Animation skills */
.skills__blob:hover img{
    animation: bounce-skills .6s;

}
@keyframes bounce-skills{
0%{
    transform: translate(0);
}
20%{
    transform: translateY(-6px);
}
40%{
    transform: translate(0);
}
60%{
    transform: translateY(-3px);
}
80%{
    transform: translate(0);
}
}
/*=============== QUALIFICATION ===============*/
.qualification{
    position: relative;
}
.qualification__container{
    row-gap: 3.5rem;
}
.qualification__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}
.qualification__title i {
    font-size: 1rem;
    font-weight: initial;
}
.qualification__info{
    display: grid;
    row-gap: 2rem;

}
.qualification__name{
    font-size: var(--normal-font-size);
    margin-bottom: 1.2rem;
}
.qualification__year,
.qualification__country,
.qualification__mark{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualification__country{
    margin-bottom: .75rem;
}
.qualification__year{
    margin-bottom: .75rem;
}
.qualification__img{
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 12rem;
    transform: rotate(15deg);
    opacity: .1;
}
/*=============== SERVICES ===============*/
/*=============== PROJECTS ===============*/
.projects__container{
    overflow: initial;
}
.projects__content{
    display: grid;
    justify-content: center;
}
.Projects__img{
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}
.projects__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.projects__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}
.projects__button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.projects__button i {
    font-size: 1rem;
    transition: transform .3s;
}
.projects__button:hover i{
    transform: translateX(.40rem);
}
/* Swiper class */
.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after{
    content: '';
}
.projects__container .swiper-button-prev,
.projects__container .swiper-button-next{
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2.5rem;
    color: var(--title-color);
}
.projects__container .swiper-button-prev{
    left: -1rem;
    top: 4.5rem;
}
.projects__container .swiper-button-next{
    right: -1rem;
    top: 4.5rem;
}
.projects__container .swiper-slide{
    margin-bottom: 4.5rem;
}
.projects__container .swiper-pagination-bullets{
    bottom: 0;
}
.projects__container .swiper-pagination-bullet{
    background-color: var(--text-color-light);
    opacity: initial;
}
.projects__container .swiper-pagination-bullet-active{
    background-color: var(--title-color);
}
/*=============== TESTIMONIAL ===============*/
/* Swiper class */
/*=============== CONTACT ===============*/
.contact__container{
    row-gap: 3.5rem;
}
.contact__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.contact__title i{
    font-size: 1rem;
    font-weight: initial;
}
.contact__info,
.contact__data{
    display: grid;

}
.contact__info{
    row-gap: 2rem;
}
.contact__data{
    row-gap: .75rem;
}
.contact__data-title{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact__data-info{
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
}
.contact__button{
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--small-font-size);
    font-size: var(--small-font-size);
}
.contact__button i{
    font-size: 1rem;
    transition: transform .3s;
}
.contact__button:hover i{
    transform: translateX(.25rem);
}
/* Status color */
/*=============== FOOTER ===============*/
.footer__container{
    padding: 3rem 0 7rem;
    text-align: center;
}
.footer__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}
.footer__list,
.footer__social{
    display: flex;
    justify-content: center;
}
.footer__list{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}
.footer__link{
    color: var(--title-color);
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__social{
    column-gap: 1.25rem;
}
.footer__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}
.footer__social-link:hover{
    transform: translateY(-.25rem);
}
/*=============== SCROLL BAR ===============*/
/*=============== SCROLL UP ===============*/
/* Show Scroll Up*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:340px)
{
.container
{
    margin-inline: 1rem;
}

.nav__menu
{
    padding-bottom: 4rem;
}
.nav__list{
    gap: 1rem 1.25rem ;
}
.skills__info
{
    grid-template-columns: repeat(2, 1fr);
}
.Projects__img
{
    width: 200px;
    justify-content: center;
    justify-self: center;
}
}
/* For medium devices */

@media screen and (min-width: 576px)
{
.nav,.nav__menu
{
    width: 380px;
}
.nav
{
    margin: 0 auto;
}
.skills__container
{
    justify-content: center;
}
.projects__container
{
    width: 400px;
    overflow: hidden;
}
.projects__container .swiper-button-prev
{
    left: 1rem;
}
.projects__container .swiper-button-next
{
    right: 1rem;
}
}

@media screen and (min-width: 767px)
{
.home__container
{
    grid-template-columns: 1fr 2fr 1fr;
}
.home__data
{
    order: 2;
}
.home__info:nth-child(3)
{
    order: 3;
    text-align: right;
}
.home__info
{
    margin-top: 10rem;
}
.home__info-description
{
    padding: 0;
}
.skills__container,
.qualification__container
{
    grid-template-columns: repeat(2, max-content);
}
.skills__container
{
    column-gap: 5rem;
}
.qualification__container
{
    justify-content: center;
    column-gap: 10rem;
}
.projects__container
{
    width: 500px;

}
}

@media screen and (min-width: 1023px)
{
.header
{
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: .4s;
}
.nav
{
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
}
.nav__toggle,
.nav__close,
.nav__link i
{
    display: none;
}
.nav__menu
{
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    transition: background .4s;
}
.nav__list
{
    display: flex;
    column-gap: 3rem;
}
.nav__link
{
    font-size: var(--normal-font-size);
}
.section
{
    padding-block: 8rem 0;
}
.home__titl{
    font-size: 2.25rem;
}
}

@media screen and (min-width: 1048px)
{
.container
{
    margin-inline: auto;
}
}

@media screen and (min-width: 1200px)
{
.section__border
{
    padding-bottom: 6rem;
}
.section__subtitle
{
    margin-bottom: 5rem;
}
.home__title
{
    font-size: var(--biggest-font-size);
}
.home__blob
{
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
}
.home__perfil
{
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
}
.home__shape-waves
{
    width: 100px;
    left: -4rem;
    top: 10rem;
}
.home__shape-circle
{
    width: 250px;
    bottom: -1rem;
    right: -5rem;
}
.home__data
{
    row-gap: 2.5rem;
}
.home__social
{
    column-gap: 2rem;
}
.home__social-link
{
    font-size: 1.5rem;
}
.home__info
{
    grid-template-rows: repeat(3,130px);
    row-gap: 4rem;
    margin-top: 16rem;
}
.skills__container
{
    column-gap: 10rem;
}
.skills__title
{
    margin-bottom: 3rem;
}
.skills__title i
{
    font-size: 1.25rem;
}
.skills__name
{
    font-size: var(--normal-font-size);
}
.skills__info
{
    gap: 3rem;
}
.qualification__container
{
    column-gap: 14rem;
}
.qualification__title
{
    margin-bottom: 3rem;
}
.qualification__title i
{
    font-size: 1.25rem;
}
.qualification__name
{
    font-size: var(--h3-font-size);
}
.qualification__img
{
    width: 300px;
    left: -6rem;
    bottom: 5rem;
}
.projects__container
{
    width: 900px;
}
.projects__container .swiper-button-next,
.projects__container .swiper-button-prev
{
    font-size: 3rem;
}
.projects__container .swiper-button-prev
{
    left: -1rem;
}
.projects__container .swiper-button-next
{
    right: -1rem;
}
.projects__container .swiper-slide
{
    margin-bottom: 6.5rem;
}
.Projects__img
{
    width: 320px;
    margin-bottom: 2rem;
}
}