








.Servicerentalrules
{
    font-size: 16px;
    background-color: #9e9e9e;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.servicerentalrules
{
    left: 50px;
    padding-left: 5rem;
}


.Documentsusedforrentingservices
{
    font-size: 16px;
    background-color: #b4b4b4;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.subdocumentsusedforrentingservices
{
    color: #7d7d7d;
}
.notedocumentsusedforrentingservices
{
    font-weight: bold;
}











.Accordion
{
  color: #000000;
}
.accordion {
    background-color: #797979;
    color: #000000;
    cursor: pointer;
    padding: 20px;
    width: 90%;
    border: none;
    border-radius: 50px;
    text-align: left;
    outline: none;
    margin: 5px;
    font-size: 20px;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0px 18px;
    background-color: rgb(244, 109, 109);
    max-height: 0;
    overflow: hidden;
    width: 85%;
    margin-left: 30px;
    border-radius: 50px;
    transition: max-height 0.4s ease-out;
}







































.scroller {
  max-width: 1600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: #F5F5F5;
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the a
.test {
  background: red !important;
}
