@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size:46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight:700;
    font-size:12px;
}

a{
    color: #222;
    text-decoration: none;
}

p{
    font-size: 16px;
    color: rgb(202, 201, 201);
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    margin: 40px 80px;
}

body{
    width: 100%;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

/*Header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #4bce00;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #4bce00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*Home page*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-bottom: 20px;
}

footer .icon{
    font-size: 25px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    margin-bottom: 20px;
    font-size: 14px;
}

footer p{
    margin: 0 0 8px 0;
    font-size: 13px;
    color: #6e6e6e;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 16px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 4px;
    color: #465b52;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #22ad71;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .install img{
    margin: 10px 5px 15px 5px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#pagination h2,
#pagination p{
    color: #fff;
}

#pagination{
    margin-right: 5px;
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #26b585;
    /*color: #ffba1e;*/
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    padding: 15px 20px;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-proimg{
    width: 40%;
    margin-right: 50px;
    height: 50%;
}

#prodetails .small-img-group{
    display: flex;
    justify-content: space-between;
}

#prodetails .small-img-col
{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .small-img-col img{
    width: 190px;
}

#prodetails .single-prodetails svg{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#prodetails .single-prodetails p{
    color: #222;
}

#prodetails .car_price{
    font-weight: 200;
    color: #535252;
} 
#prodetails .car_price_time{
    font-weight: 600;
    color: #222;
}

#prodetails .rentbtn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 15px;
    background-color: #41B06E;
    outline: 3px #41B06E solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin: 20px;
}

#prodetails .rentbtn .text {
    color: white;
    font-weight: 700;
    font-size: 0.8em;
    transition: 400ms;
}

#prodetails .rentbtn:hover {
    background-color: transparent;
}

#prodetails .rentbtn:hover .text {
    color: #41B06E;
}

#prodetails button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width:799px){
    .section-p1{
    margin: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
            font-size:  24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag,
    #lg-acc{
        display: none;
    } 

    #hero {
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30% ;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 35vh;
        padding: 30px;
    }
}

@media (max-width:477px){
  .section-p1{
    padding: 20px;
  }

  #header{
    padding: 10px 30px;
  }
  
  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }

  #hero h4,
  #hero p{
    color: #222;
  }

  #hero h2{
    color: #0361a9;
  }

  #feature{
    justify-content: space-between;
  }

  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;  
  }

  #sm-banner .banner-box{
    height: 40vh;
    width: 100%;
  }

  #sm-banner .b2{
    margin-top: 20px;
  }

  footer .copyright{
    text-align: start;
  }
}


.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapperpopup{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5% ease-in-out;
}